*.a
*.o
*.obj
*.lib
*.dll
*.oo
*.so
*.lo
*.la
*.mod
*~
*.swp
*.swo
*.Plo
*.pyc
*.png
.nfs*
*.exe
*.pdb

/Makefile

external/fftw
external/lapack
external/scalapack

release
release-static
release-shared

evc/evc_dev/evc
evc/evc_int/evc
evc/evc_cart/evc
setup
bin
ddipole
dipolecoord
elecoupl
TVCORF_IC
TVCORF_SPEC
TVSPEC_IC
dipoledush
getelecnorm
sum_spec
TVCORF_IC_para
TVCORF_SPEC_para
TVSPEC_SPEC
get-nacme
momap.inc
reduce_num
get-reorg-ene
dushin2math
elecoupl5
getdata
getpoints
getrlk
order
lin
radiativeless
vasp_coord
vasp_energy
outcar2axsf
modos

chemshell_mol2pdb
gaussian_analyze_opt
gaussian_compare
gaussian_drho
gaussian_g2j
gaussian_get_pol
gaussian_lifetime
gaussian_pes_coord
gaussian_pes_energy
gaussian_pes_energy_freq
gaussian_pes_energy_int2
gaussian_pes_intcoord
gaussian_pes_intcoord2
gaussian_pes_int_energy
gaussian_pes_mode_coord
gaussian_pes_mode_energy
gaussian_pes_numf_freq
gaussian_pes_mancoord
gaussian_pes2_coord
gaussian_pes2_energy
gaussian_pes_int_coord
gaussian_pes_int_freq
gaussian_pes_numf_coord
gaussian_pes_numf_energy
gaussian_rot_geom
gaussian_transden

ivr_BJmodel
ivr_fgr
ivr_ivr
ivr_ivr2
ivr_test
public_anharm_fitting
public_anharm_dipoledush
public_anharmcoord
public_basis
public_dynamics
public_energy_transfer
public_energy_transfer_int
public_fitcurve
public_fitmorse
public_get_nacme
public_ht_FC_0K
public_ht_nonrad
public_ht_single_0K
public_ht_spectra
public_ht_spectra2
public_ht_spectra_db
public_ht_spectra_ht
public_laplace
public_laplace2
public_paper_search
public_paper_weak_coupling
public_Qvib
public_rotation3
poscar2xsf
poscar2cif
poscar2xyz
poscar2gjf
poscar_new

quantum_espresso_build_adsorb
quantum_espresso_kpath
quantum_espresso_to_cif

tdivr
tdivr_para
tdivr_1
tdivr_fermi
tdivr_fgr
tdivr_get_den
tdivr_hdiag
tdivr_hdiag_para

turbomole_chkgrad
turbomole_contman
turbomole_coord2gaussian
turbomole_coord2xsf
turbomole_dushin2math
turbomole_force2axsf
turbomole_force2gaussian
turbomole_get_energy
turbomole_get_ex
turbomole_grad2axsf
turbomole_gses
turbomole_modes
turbomole_openmol2xcrysden
turbomole_pes_coord
turbomole_pes_energy
turbomole_projmodes
turbomole_t2xsf
turbomole_t2xyz
turbomole_transden

wien2k_read_band

grouptools/Makefile



dushin/dushin_cart/dushin
dushin/dushin_int/dushin
grouptools/ivr/td/tdivr_dos
grouptools/molcas/tools/molcas_readmcfc
grouptools/molcas/tools/molcas_readmcfcmolden
grouptools/molpro/tools/molpro_get_gauss_modes
grouptools/molpro/tools/molpro_get_modes
grouptools/molpro/tools/molpro_get_nacm
grouptools/molpro/tools/molpro_get_nacm_stdcoord
grouptools/molpro/tools/molpro_get_orbitals
grouptools/public/schroedinger/public_schroedinger
grouptools/public/spectra/spectra
grouptools/turbomole/tools/turbomole_get_ir
grouptools/wien2k/tools/wien2k_get_band

get_band
grouptools/public/scan/pwscf_coord
grouptools/public/scan/pwscf_energy

chgcar2xsf
chg2xsf
chgdiff2xsf
quantum_espresso_get_band
gaussian_rot_mol

scan_afm_coord
scan_afm_energy
lib/fftw
runconfig
lib/src/fftw/fftw-3.3.3/runconfig
g09tomolekel
wavecar2xsf
elfcar2xsf
search_nearest_file
scan_afm_rest
chg2cub
locpot2cub

grouptools/public/scan/scan_mode_coord
grouptools/public/scan/scan_mode_energy
grouptools/public/transform/cif2gjf
grouptools/public/transform/cube2org
grouptools/public/transform/cube2xsf
grouptools/public/transform/gjf2cif
grouptools/public/transform/pwout2axsf
grouptools/public/scan/scan_numf_coord
grouptools/public/scan/scan_numf_energy

grouptools/zindo/ZINDOSOS-TPALSC-TRNS-LY/zindotrns
grouptools/zindo/zindomn-v2011/zindomn
grouptools/icmrci/icci_2014.x

grouptools/zindo/zindomn-v2011/.compile-count
grouptools/zindo/zindomn-v2011/include/libversion.inc
grouptools/zindo/zindomn-v2011/include/version.inc
grouptools/zindo/zindomn-v2011/zindomn
grouptools/public/transform/polar_inert
grouptools/public/transform/rot_cube

tags
xsf2cube

wienpsi2xsf
grouptools/public/transform/pwout2cif
grouptools/public/scan/wien2k_coord
grouptools/public/scan/wien2k_energy
grouptools/public/transform/wienpsi2xsf
grouptools/public/transform/monoclinic_cif_to_pwi
orbit2org
gjf2xyz
grouptools/public/transform/wienpsi2xsf
grouptools/public/transform/mol2xyz
grouptools/public/transform/pdb2xyz

sos/mb-average
sos/mb-average-temp
sos/mb-direction
sos/mb-direction-all
sos/mb-direction-temp
sos/me-prepare
sos/me-prepare-temp
sos/pr-FGR
sos/pr-FGR-integral
sos/pr-FGR-temp
sos/pr-GER-temp
sos/pr-neighbor
sos/pr-prepare
sos/pr-transferintegral
sos/rw-fluc0
sos/rw-fluc0-temp
sos/ss-periodic

grouptools/sos/mb-average
grouptools/sos/mb-average-temp
grouptools/sos/mb-direction
grouptools/sos/mb-direction-all
grouptools/sos/mb-direction-temp
grouptools/sos/pr-FGR
grouptools/sos/pr-FGR-integral
grouptools/sos/pr-FGR-temp
grouptools/sos/pr-GER-temp
grouptools/sos/pr-neighbor
grouptools/sos/ss-periodic

sos-old/example/include/mb-average
sos-old/example/include/mb-average-temp
sos-old/example/include/mb-direction
sos-old/example/include/mb-direction-all
sos-old/example/include/mb-direction-temp
sos-old/example/include/me-prepare
sos-old/example/include/me-prepare-temp
sos-old/example/include/pr-FGR
sos-old/example/include/pr-FGR-integral
sos-old/example/include/pr-FGR-temp
sos-old/example/include/pr-GER-temp
sos-old/example/include/pr-neighbor
sos-old/example/include/pr-prepare
sos-old/example/include/pr-transferintegral
sos-old/example/include/rw-fluc0
sos-old/example/include/rw-fluc0-temp
sos-old/example/include/ss-periodic
sos-old/pr-FGR-integral
sos-old/pr-hoprate-integral
grouptools/public/property/modos
gaussian_analyze_freq
grouptools/gaussian/analyze_freq/gaussian_analyze_freq
grouptools/public/transform/wienpsi2xsf
wienpsi2xsf
test_omp
grouptools/public/transform/cif2poscar
grouptools/public/transform/poscar_move
grouptools/public/transform/build_adsorb
grouptools/public/transform/charge2xyz
gjf_new
grouptools/public/permutation/permutation
dushin/dushin_int_dev/dushin
xsf2gjf
print_orbitals
gaussian_cluster_coord
get_cluster
shg
point_group
xyz2gjf
raman_spectra
shg_model
outcar2xyz
build_cluster
pdb_divide
gro2xyz
trr2xyz
cube_den2mo
spin_function
ebridge
get_afm
glog2xyz
gro_gather
supercell_pdb

grouptools/zindo/ZINDOSOS-TPALSC-TRNS-LY/include/libversion.inc
grouptools/zindo/ZINDOSOS-TPALSC-TRNS-LY/include/version.inc
grouptools/zindo/ZINDOSOS-TPALSC-TRNS-LY/.compile-count
shg_mol
crystal_vib
cube_product
xyz2gen
grouptools/DFTB+/prg_dftb/_obj_x86_64-linux-ifort
cube_product
grouptools/public/transform/cube_product
dftb_cdf
dftb_cpf
dftb_charge
dftb_period
dftb_read_H_L
dftb_dihedral
dftb_lumodos
dftb_temperature
grouptools/DFTB+/dftb+
grouptools/DFTB+/prg_dftb/_obj_x86_64-linux-ifort/dftb+
grouptools/DFTB+/prg_dftb/_obj_x86_64-linux-ifort/_dependencies
_mod_*
cif2xyz
coord2gjf
ff2afm
afmf
diff_eq
shooting
crystal2xyz_charge
chgsum
afm_slice
fpp-3.0.0.exe
fpp.exe
read_ao_info
nw2gjf
nwout2gjf
pauli
pauli1
public_tschroedinger
grouptools/sos/me-prepare
grouptools/sos/me-prepare-temp
grouptools/sos/pr-prepare
grouptools/sos/pr-transferintegral
grouptools/sos/rw-fluc0
grouptools/sos/rw-fluc0-temp
pauli2
pauli3
/lib/src/fftw/fftw-3.3.3/runconfig
gaussian_oniom_to_numfreq
public_energy_transfer_exp
generate_lic
sum_spec_new

mb-average
mb-average-temp
mb-direction
mb-direction-all
mb-direction-temp
me-prepare
me-prepare-temp
pr-FGR
pr-FGR-integral
pr-FGR-temp
pr-GER-temp
pr-neighbor
pr-prepare
pr-transferintegral
rw-fluc0
rw-fluc0-temp
ss-periodic

sproms-rt-FGR

separate_molecule
generate-shared
generate-static
me-calc
/sumstat/sumstat
/sumstat/sumstat_new
numfreq_coord
numfreq_gather
scan_numf_coord
scan_numf_energy

examples/naphthalene/transport-local
examples/licenses-local
licenses/license.lic

TVCORF_ISC
TVCORF_ISC_para
TVSPEC_ISC

examples/licenses/license.dat
license.lic
.environment
del_small_integral

examples/azulene-local
examples/naphthalene/genghua-test
examples/naphthalene/transport-genghua-mol-auto
examples/naphthalene/transport-genghua-mol-manual
examples/naphthalene/transport-genghua
examples/naphthalene/transport-jmc
momap-1.0.0-mpich2.tar.gz
momap-1.0.0-mpich2
get_NM
pr-hoprate
pr-hoprate-temp

MOMAP-v*-release.tar.gz
genghua-test-manual
tmoleout2gjf

examples/main/license-pc

examples/Vlasta/
examples/azulene/momap/gaussian1/
examples/naphthalene/jiashengtest/
examples/naphthalene/transport-auto-linjiasheng/
examples/naphthalene/transport-auto-test/
examples/naphthalene/transport-manual-linjiasheng-ylniu/
examples/naphthalene/transport-manual-linjiasheng/

examples/naphthalene/transport-manual-fast-input-test/
examples/naphthalene/transport-manual-fast-input/
gjf2xyz_charge

examples/Vlasta-momap-0.2.003

grouptools/zindo/ZindoXmas.mrd/zindo
grouptools/zindo/ZINDOSOS-TPALSC-TRNS-new/zindotrns

gout2xyz
printrn
plot_force.exe
*.local
*__genmod.*
*.tar.gz
*.tgz

*.vs
*.u2d
*.vfproj
