#!/bin/sh

FC=ifort
DEBUG=0
PARA="YES"
OS="LINUX"

if [ ${FC} = "gfortran" ]; then
	CC=gcc
	MPIDIR=$HOME/program/mpich/mpich2-1.5-gfortran-5.4.0
	MKLDIR="no"
fi

if [ ${FC} = "ifort" ]; then
	CC=icc
	MPIDIR=$HOME/program/mpich/mpich2-1.5-composer_xe_2015.6.233
	MKLDIR=/opt/intel/composer_xe_2015.6.233/mkl/lib/intel64
fi
sh build -CC=${CC} -FC=${FC} -DEBUG=${DEBUG} -MPIDIR=${MPIDIR} -PARA=${PARA} -OS=${OS} -MKLDIR=${MKLDIR}

